@font-face {
  font-family: 'Commissioner';
  src: url(../fonts/Commissioner/Commissioner-VariableFont_FLAR\,VOLM\,slnt\,wght.ttf) format('woff2');
}

@font-face {
  font-family: 'Geist Pixel';
  src: url(../fonts/Geist_Pixel/GeistPixel-Regular-VariableFont_ELSH.ttf) format('woff2');
}
