* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

a {
    color: rgb(67, 95, 156);
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

nav, footer {
    background-color: black;
    color: white;

    border-bottom: 2px solid lightgray;
    padding: .5rem;
}

nav ul {
    margin: 0;
    padding: 0;

    text-align: center;

    list-style: none;
    /* Para quitar las bolitas de la lista */
}

nav a {
    display: block;
    color: white;
    padding: .5rem;

    border-radius: .15rem;
}

nav li:not(:last-of-type) a {
    border-bottom: 1px solid darkgray;
}

nav a:hover {
    background-color: white;
    color: black;
    text-decoration: none;
}

main {
    padding: 1rem;
}

h1 {
    text-align: center;
}

h1::before {
    content: '<';
}

h1::after {
    content: '>';
}

pre {
    background-color: lightgray;

    padding: .5rem;
    border-radius: .15rem;
    border: 1px solid gray;
}

strong {
    font-variant: small-caps;
    /* font-weight: normal; */
}

.destacado {
    background-color: yellow;
}

.destacado.mucho {
    padding: 0.5rem;
}

p {
    margin: 2rem 0;
    line-height: 1.5;
}

ol {
    counter-reset: item;
    list-style: none;
}

ol li {
    counter-increment: item;
}

ol li::before {
    content: counters(item, ".") ". ";
}

dt {
    font-weight: bold;
    margin: .25rem 0;
}

dd {
    margin-left: 0;
    margin-bottom: 1rem;
}

table {
    width: 100%;

    border-collapse: collapse;
}

caption {
    font-variant: small-caps;

    background-color: lightgray;
}

thead,
tfoot {
    background-color: lightgray;
}

tr:nth-of-type(even) td {
    background-color: rgb(235, 235, 235);
}

td:nth-of-type(2) {
    background-color: cyan;
}

caption,
td,
th {
    border: 1px solid gray;

    padding: 0.5rem;
}

th {
    text-align: start;
}

figure,
audio,
video,
iframe {
    margin: 0;
    padding: .5rem;
    width: 100%;
    border: 1px solid lightgray;
    background-color: rgb(225, 255, 225);
    border-radius: .15rem;
}

img {
    width: 100%;
}

iframe {
  width: 100%;
  aspect-ratio: 16 / 9;
  height: auto;
}

fieldset {
    border-radius: .15rem;

    text-align: center;
}

input, button, select, textarea {
    border-radius: .15rem;
    border: 1px solid lightgray;
    padding: .5rem;
    margin: .5rem 0;

    width: 100%;
}

input[type=checkbox], input[type=radio] {
    width: auto;
}

aside ul {
    text-align: center;
    padding-left: 0;
}

aside ul li {
    display: inline;
}

