@import url(fonts.css);

/* FontAwesome */
@import url(all.min.css);

:root {
    --color-fondo: white;
    --color-tinta: black;
    --color-enlace: rgb(67, 95, 156);
    --color-fondo-suave: lightgray;
    --color-borde-suave: lightgray;
    --color-fondo-mas-suave: rgb(235, 235, 235);

    --font-general: "Commissioner", sans-serif;
    --font-titulo: "Geist Pixel", sans-serif;

    --borde-redondeo: .15rem;

    --margen-pequeno: .25rem;
    --margen-medio: .5rem;
    --margen-grande: 1rem;
    --margen-pagina: 10%;
}

* {
    box-sizing: border-box;
}

body {
    font-family: var(--font-general);
    margin: 0;

    background-color: var(--color-fondo);
    color: var(--color-tinta);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-titulo);
}

a {
    color: var(--color-enlace);
    font-weight: bold;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

body>nav,
footer {
    background-color: var(--color-tinta);
    color: var(--color-fondo);

    border-bottom: 2px solid var(--color-fondo-suave);
    padding: var(--margen-medio);

    text-align: center;
}

body>nav {
    ul {
        margin: 0;
        padding: 0;

        text-align: center;

        list-style: none;
        /* Para quitar las bolitas de la lista */
    }

    a {
        display: block;
        color: var(--color-fondo);
        padding: var(--margen-medio);

        border-radius: var(--borde-redondeo);

        &:hover {
            background-color: var(--color-fondo);
            color: var(--color-tinta);
            text-decoration: none;
        }
    }

    li:not(:last-of-type) a {
        border-bottom: 1px solid darkgray;
    }
}

main {
    padding: var(--margen-grande);
}

h1 {
    text-align: center;

    &::before {
        content: '<';
    }

    &::after {
        content: '>';
    }
}

pre {
    background-color: var(--color-fondo-suave);

    padding: var(--margen-medio);
    border-radius: var(--borde-redondeo);
    border: 1px solid gray;

    overflow: auto;
}

strong {
    font-variant: small-caps;
    /* font-weight: normal; */
}

.destacado {
    background-color: yellow;
}

.destacado.mucho {
    padding: var(--margen-medio);
}

p {
    margin: 2rem 0;
    line-height: calc(1rem + var(--margen-medio));
}

ol {
    counter-reset: item;
    list-style: none;

    li {
        counter-increment: item;

        &::before {
            content: counters(item, ".") ". ";
        }
    }
}

dl {
    dt {
        font-weight: bold;
        margin: var(--margen-pequeno) 0;
    }

    dd {
        margin-left: 0;
        margin-bottom: var(--margen-grande);
    }
}

table {
    width: 100%;

    border-collapse: collapse;

    caption {
        font-variant: small-caps;

        background-color: var(--color-fondo-suave);
    }

    thead,
    tfoot {
        background-color: var(--color-fondo-suave);
    }

    tr:nth-of-type(even) td {
        background-color: var(--color-fondo-mas-suave);
    }

    td:nth-of-type(2) {
        background-color: cyan;
    }

    caption,
    td,
    th {
        border: 1px solid gray;

        padding: var(--margen-medio);
    }

    th {
        text-align: start;
    }
}

figure,
audio,
video,
iframe {
    margin: 0;
    padding: var(--margen-medio);
    width: 100%;
    border: 1px solid var(--color-borde-suave);
    background-color: rgb(225, 255, 225);
    border-radius: var(--borde-redondeo);
}

img {
    width: 100%;
}

iframe {
    width: 100%;
    aspect-ratio: 16 / 9;
    height: auto;
}

fieldset {
    border-radius: var(--borde-redondeo);

    text-align: center;
}

input,
button,
select,
textarea {
    border-radius: var(--borde-redondeo);
    border: 1px solid var(--color-borde-suave);
    padding: var(--margen-medio);
    margin: var(--margen-medio) 0;

    width: 100%;
}

input[type=checkbox],
input[type=radio] {
    width: auto;
}

aside {
    ul {
        text-align: center;
        padding-left: 0;

        li {
            display: inline;
        }
    }
}

#redes-sociales {
    list-style: none;
    padding: 0;

    li {
        display: inline;

        a {
            color: var(--color-fondo);
        }
    }
}

#arriba a {
    color: var(--color-fondo);
    background-color: rgba(0, 0, 0, 0.75);
    border: 1px solid var(--color-fondo);
    box-shadow: .25rem .25rem 0.75rem rgba(0, 0, 0, 0.5);

    border-radius: 100%;
    padding: var(--margen-pequeno);

    position: fixed;

    bottom: calc(var(--margen-grande) * 1.5);
    right: calc(var(--margen-grande) * 1.5);
}

@media (min-width: 768px) {
    body>nav {
        position: sticky;
        top: 0;

        z-index: 1;

        ul {
            display: flex;

            justify-content: space-between;

            li:not(:last-of-type) a {
                border-bottom: 0;
            }
        }
    }

    section {
        scroll-margin-top: calc(var(--margen-grande) * 4);
    }

    #arriba {
        display: none;
    }

    main {
        padding-left: var(--margen-pagina);
        padding-right: var(--margen-pagina);
    }

    article {
        display: flex;
        flex-wrap: wrap;

        gap: var(--margen-medio);

        h1, section {
            width: 100%;
        }

        #parrafos, #listas {
            width: calc(50% - var(--margen-medio) / 2);
        }
    }

    #formularios form:first-of-type {
        display: flex;

        fieldset {
            width: 50%;
        }
    }

    footer {
        display: flex;
        justify-content: space-between;
        align-items: baseline;

        &>* {
            margin: var(--margen-medio);
        }
    }
}

@media (min-width: 1024px) {
    #multimedia {
        display: flex;
        flex-wrap: wrap;

        &>* {
            width: 50%;
        }

        h2, audio {
            order: -1;
            width: 100%;
        }

        &>iframe:last-of-type {
            width: 100%;
        }
    }
}

@media (min-width: 1440px) {
    #html {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        section {
            width: 100%;
        }        

        /*
        h1, #multimedia, #formularios {
            grid-column: span 2;
        }

        #parrafos {
            grid-row: span 2;
        }
        */

        grid-template-areas: 
            "titulo         titulo"
            "parrafos       listas"
            "parrafos       tablas"
            "parrafos       ."
            "formularios    formularios"
            "multimedia     multimedia"
        ;

        h1 {
            grid-area: titulo;
        }

        #parrafos {
            grid-area: parrafos;
        }

        #listas {
            grid-area: listas;
        }

        #tablas {
            grid-area: tablas;
        }

        #multimedia {
            grid-area: multimedia;
        }

        #formularios {
            grid-area: formularios;
        }


    }
}

@media (min-width: 2560px) {
    #html {
        grid-template-columns: 1fr 1fr 2fr;

        grid-template-areas: 
            "titulo         titulo          titulo"
            "parrafos       listas          formularios"
            "parrafos       tablas          formularios"
            "parrafos       .               ."
            "multimedia     multimedia      multimedia"
        ;
    }

    #multimedia {
        display: grid;

        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: 
            "titulo-multimedia  titulo-multimedia   titulo-multimedia"
            "audio              audio               audio"
            "figure             video               youtube"
            "spotify            mapa                mapa"
        ;

        &>* {
            width: 100%;
        }

        h2 {
            grid-area: titulo-multimedia;
        }

        figure {
            grid-area: figure;
        }

        audio {
            grid-area: audio;
        }

        video {
            grid-area: video;
        }
        
        iframe:first-of-type {
            grid-area: mapa;
        }

        iframe:nth-of-type(2) {
            grid-area: spotify;

            aspect-ratio: inherit;

            height: 100%;
        }

        iframe:last-of-type {
            grid-area: youtube;
        }
    }
}